#card1:hover{
    transform: scale(1.03);
}
#card2  :hover{
    transform: scale(1.03);
}
#card3  :hover{
    transform: scale(1.03);
}
#card4  :hover{
    transform: scale(1.03);
}
#card5  :hover{
    transform: scale(1.03);
}
#card6  :hover{
    transform: scale(1.03);
}
#card7  :hover{
    transform: scale(1.03);
}
#card8  :hover{
    transform: scale(1.03);
}